/assets/image/brandbook/Deltacab.pdf
/assets/image/brandbook/VARSHA.pdf
/assets/image/brandbook/SNA.pdf
/assets/image/brandbook/NotePay.pdf
/assets/image/brandbook/PetsSmart.pdf
/assets/image/brandbook/Tricil.pdf

# Large video files
assets/video/videodg.mov

# Local chatbot secrets
chatbot-config.php
